<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends Info</title>
</head>
<body>
    <h1><%=friendsInfo.name %> </h1>
    <h1><%=friendsInfo.id%> </h1>
    <h1><%=friendsInfo.Designation %> </h1>

    <a href="/friends/<%=friendsInfo.id %>/edit">Edit</a>
<br><br>
    <form action="/friends/<%=friendsInfo.id%>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
</body>
</html>